/*
Madison Hildreth
Due Date
Project name and description
*/

/* The universal selector */

* {

}

/* Body attributes here */

body { background-color:black;
    
}
table, td, th {border: 1px solid black;}
table {border-collapse: collapse;}
tbody {background-color: aliceblue;}
thead {background-color: lightcyan;}
tfoot {background-color: azure;}

